.textxblock-container {
  padding: 1px;
}

.parent-div {
  width: 95%;
}

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.for-inputs {
  padding: 5px;
  width: 99%;
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px;
}

textarea {
  border-radius: 3px;
  margin: 5px;
  height: 80px;
}
.language-marks {
  margin: 5px;
}

input {
  width: 10%;
}

.button-div {
  padding: 2px;
  display: flex;
  width: 15%;
  height: 40px;
  justify-content: center;
}

#button {
  width: 100%;
  border-radius: 4px;
  background-color: rgb(38, 38, 117);
  color: white;
}

#button:hover {
  background-color: rgb(52, 52, 162);
}
