.textxblock-container {
  margin-top: 20px !important;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  box-sizing: border-box;
  position: relative !important;
  padding: 10px;
  /* background-color: inherit !important; */
}

.textxblock-container::before,
.textxblock-container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #ddd;
}

.textxblock-container::before {
  top: 0;
}

.textxblock-container::after {
  bottom: 0;
}

.main-div {
  width: 100% !important;
  height: 720px;
  padding-top: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
  border-radius: 4px;
  /* border: 1px solid #ddd; */
  /* position: relative; */
}

.main-container-div {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;
}

.header-div {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
}
.sub-header-div-one {
  width: 50%;
  padding: 1px;
  display: none;
}

.sub-header-div-two {
  width: 50%;
  padding: 5px;
  padding-right: 9px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.theme-changer {
  background: white;
  border: 1px solid #888;
  /* border: 1px solid white; */
  border-radius: 3px;
  color: #000;
  height: 30px;
  padding: 3px;
  font-size: 12px;
}

.theme-changer:hover {
  outline: none;
  /* border-color: white; */
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.timer-div {
  border-radius: 4px;
  /* background-color: #f5f5f5; */
  border: 1px solid #888;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  /* padding: 5px; */
  font-size: 13px;
  font-family: "Orbitron", sans-serif;
  /* font-weight: bold; */
}

.timer-text {
  display: none;
}

.header-one {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-one-div {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-top: 3px solid #15376d;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.header-one-div > * {
  font-family: "Fira Code", monospace;
}

#monaco-stuff {
  width: 900px;
  height: 500px;
}

.banner {
  display: none;
}

.workbench .main {
  padding: 0;
}

.show-question-div {
  display: flex;
  flex-direction: column;
  width: 35%;
  /* border-radius: 6px; */
  color: #000;
}

.question-menu {
  /* background-color: #f5f5f5; */
  width: 100%;
  height: 41px;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  /* border-top-left-radius: 6px;
  border-top-right-radius: 6px; */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

select {
  font-family: "Fira Code", monospace;
  font-size: 13px;
  /* appearance: none; */
}

#show-question {
  padding: 10px;
  height: 100%;
  margin: 0;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow-y: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  font-family: "IBM Plex Mono", monospace !important;
}

#show-question::-webkit-scrollbar {
  width: 5px;
}

#show-question::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 6px;
}

#show-question::-webkit-scrollbar-thumb {
  background: #15376d;
  border-radius: 6px;
}

#show-question::-webkit-scrollbar-thumb:hover {
  background: #0658dd;
}

#show-question {
  scrollbar-width: thin;
  scrollbar-color: #15376d #f5f5f5;
}

.container-div {
  /* background-color: #003bb3; */
  /* padding: 2px; */
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); */
}

.second-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.code-editor-menu {
  display: flex;
  align-items: center;
  height: 41px;
  justify-content: start;
  padding: 1px 3px;
  background-color: #f5f5f5;
  /* color: #333; */
  box-sizing: border-box;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); */
  /* border-top-left-radius: 6px;
  border-top-right-radius: 6px; */

  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ddd;
  border-top: none;
  /* border-bottom: none; */
}

.code-editor-sub-menu-one {
  padding: 1px;
}

.code-svg-div {
  padding: 2px 3px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: start;
  gap: 3px;
  color: #000;
}

.code-svg-div:hover {
  background-color: #fff;
  border-radius: 4px;
}

.code-svg-div > * {
  margin-top: 1px;
}

.code-editor-sub-menu-two {
  width: 80%;
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  gap: 10px;
  padding-right: 10px;
}

.reset {
  display: flex;
  align-items: center;
  color: #ffffff99;
  padding: 4px;
  border: 1px solid #888;
  border-radius: 4px;
  /* background-color: white; */
  cursor: pointer;
}

.reset:hover {
  transform: scale(1.05);
}

.reset-small {
  display: none;
}

#submit {
  /* background-color: white; */
  /* color: white; */
  background-color: #0556f3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  cursor: pointer;
  /* border: 1px solid #888; */
  border-radius: 2px;
  /* font-size: 15px; */
}

#submit:hover {
  background-color: #888;
}

#submit:hover .arrow {
  border-left: 12px solid black;
}
.arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 12px solid white;
}

.language {
  width: 80px;
  height: 33px;
  z-index: 999;
  position: absolute;
  right: 0;
  /* background: transparent; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 2px;
  color: black;
  padding: 5px;
  /* border: none; */
}

/* .language:hover {
  outline: none;
  border-color: white;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
} */

.ans-select {
  padding: 2px 3px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f1f1f1;
  transition: all 0.3s ease-in-out;
  color: #0047d1 !important;
}

.ans-select:hover {
  background-color: white;
  color: #0556f3;
  transform: scale(1.05);
}

.editor-output-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 5px; */
  margin: 0;
  padding: 0;
  height: 100%;
}

.editors-div {
  /* background-color: red; */
  /* border: 1px solid #ddd; */
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  border-top: none;
  width: 100%;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 70%;
}

.editor-container {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid blue; */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

#container {
  height: 100%;
  width: 100%;
  /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); */
  /* overflow: hidden; */
  /* margin: 0; */
}

.answer-container-div {
  background-color: #f5f5f5;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 30%;
  /* align-items: center; */
  border-radius: 5px;
  /* border: 1px solid #ddd; */
}

.resizer-handle .main-div {
  height: 720px;
}

.resizer-handle .main-container-div {
  height: 720px;
}

.output-div {
  box-sizing: border-box;
  width: 100%;
  background-color: #f5f5f5;
  /* padding: 15px; */
  padding-right: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 38px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: 1px solid #ddd;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

.results-div {
  flex-grow: 1;
  display: flex;
  /* gap: 5px; */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.results {
  padding: 3px;
  padding-left: 10px;
  width: 50%;
  font-size: 12px;
}

.results-marks {
  padding: 3px;
  width: 40%;
  font-size: 12px;
}

.output-select {
  height: 85%;
  background: white;
  border: 1px solid #888;
  border-radius: 4px;
  color: black;
  padding: 3px;
  font-size: 12px;
  padding: 1px;
}

.output-select:focus {
  outline: none;
  border-color: white;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.msg-answer-div {
  /* height: 130px; */
  flex-grow: 1;
  width: 100%;
  /* height: 100%; */
  padding-left: 10px;
  padding-right: 10px;
  /* padding-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: start;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.answer-container {
  /* flex-grow: 1; */
  width: 100%;
  margin: 0;
  height: 90%;
  padding: 15px;
  max-width: 100%;
  box-sizing: border-box;
  /* border: 1px solid #333; */
  margin: 0;
  border-left: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-family: "Fira Code", "Courier New", monospace;
  color: black;
  background-color: white;
  line-height: 1.1;
  white-space: pre;
  overflow: auto;
}

.progress-results {
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;
  display: flex;
  /* padding: 4px 0.5px; */
  box-sizing: border-box;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* background-color: #f5f5f5; */
  /* background-color: #0a84ff2e !important; */
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  /* border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; */
}

.theme-icon-div {
  display: none;
}
.progressBar-div {
  /* display: none; */
  width: 100%;
  flex-grow: 1;
  /* height: 100%; */
  /* height: 20px; */
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
}

.code-editor-sub-menu-two-small {
  display: none;
}

#progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  /* height: 100%; */
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #0556f3, #003bb3);
  background-size: 40px 40px;
  animation: progress-stripes 1s linear infinite;
  background-color: #0556f3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; */
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.arrow-small {
  display: none;
}

.internal-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #0556f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.dark-mode .textxblock-container {
  /* background-color: #1e1e1e !important; */
  background-color: black;
}

.dark-mode .code-editor-menu,
.dark-mode .output-div,
.dark-mode .msg-answer-div {
  background-color: #333 !important;
  color: #fff !important;
}

.dark-mode .question-menu {
  border: none !important;
  color: #d4d4d4;
  background-color: #1e1e1e !important;
}
.dark-mode #show-question {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background-color: #1e1e1e !important;
  color: #d4d4d4;
  border-top: none !important;
}

.dark-mode .answer-container {
  background-color: #1e1e1e !important;
  color: #fff !important;
  border: none !important;
}

.dark-mode .progress-results {
  background-color: #1e1e1e !important;
  border: none !important;
}

.dark-mode .editor-container {
  border: none !important;
}
.dark-mode .editors-div {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-top: none !important;
}
.dark-mode .msg-answer-div {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;

  border-top: none !important;
}

.dark-mode .output-div {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-top: none !important;
  border-bottom: none !important;
}

.dark-mode .output-select {
  background-color: #1e1e1e !important;
  color: #fff !important;
}

.dark-mode .code-editor-menu {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-top: none !important;
}

.dark-mode .question-menu {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-top: none !important;
  border-bottom: none !important;
}

.dark-mode .header-one-div {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-top: 3px solid rgba(255, 255, 255, 0.5) !important;
  color: #fff !important;
}

.dark-mode .code-svg-div {
  color: #fff !important;
}

.dark-mode .code-svg-div:hover {
  color: black !important;
}

.dark-mode .theme-changer {
  background-color: #1e1e1e !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  color: #fff !important;
}

.dark-mode .language {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-top: none !important;
  border-right: none !important;
  color: #fff !important;
  background-color: #1e1e1e !important;
}

.dark-mode .theme-icon-div {
  background-color: black;
}

.dark-mode #light {
  display: block;
}

.dark-mode #dark {
  display: none;
}

.dark-mode #reset-svg,
.dark-mode #reset-svg-one {
  fill: #ffffff;
}

.dark-mode .reset-small {
  background-color: black;
}

.dark-mode select {
  border: 1px solid #888 !important;
}

.dark-mode .timer-div {
  background-color: black;
  color: white;
}

.dark-mode .arrow-small {
  border-left: 12px solid white;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 799px) {
  .textxblock-container {
    /* background-color: red; */
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0;
  }

  .header-div {
    /* padding: 8px; */
    position: relative;
    width: 98%;
    /* background-color: red; */
    display: flex;
  }
  .main-container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .timer-div {
    /* background-color: blue;
    height: 100%; */
  }

  .timer-container {
    /* background-color: yellow; */
    height: 27px;
    padding: 2px;
    box-sizing: border-box;
  }

  .show-question-div {
    width: 100%;
    /* height: inherit; */
    height: 100%;
    /* background-color: red; */
    display: none;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
  }

  .container-div {
    width: 100%;
    height: 100%;
    /* display: none; */
  }

  .scrollbar {
    /* scrollbar-width: 10px; */
    /* background-color: red; */
  }

  .msg-answer-div {
    padding: 0;
    height: 94%;
  }

  .answer-container-div {
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .answer-container {
    scrollbar-width: none !important;
    height: 100%;
    /* height: 100%; */
  }

  .main-div {
    gap: 0;
    padding: 0;
  }

  .main-container-div {
    gap: 0;
    padding: 0;
    position: relative;
  }

  .tabs-btn {
    all: unset;
    cursor: pointer;
    font-size: 13px;
    padding: 3px;
    position: relative;
  }

  .tabs-btn:hover {
    background-color: #7f8c8d;
    color: white;
    border-radius: 4px;
  }

  .tabs-btn:not(:last-child)::after {
    content: "|";
    margin-left: 8px;
  }

  .tabs-btn:hover::after {
    content: "";
  }

  .tabs-btn.active {
    font-weight: bold;
  }

  .dark-mode .tabs-btn {
    /* background-color: #1e1e1e !important; */
    color: #fff !important;
  }

  .question-menu {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: none !important;
  }

  .dark-mode .question-menu {
    border: none !important;
    background-color: #1e1e1e !important;
    /* background-color: red !important; */
  }

  #show-question {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /* border-bottom: none; */
    border: none !important;
  }

  .dark-mode #show-question {
    border: none !important;
  }

  .code-editor-menu {
    display: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-left: none !important;
    border-right: none !important;
  }

  .code-editor-sub-menu-one {
    display: none;
  }

  .editor-container {
    border: none !important;
    height: 100%;
  }

  #container {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
  }

  .editor-output-div {
    gap: 0;
    /* display: none; */
  }

  .editors-div {
    height: 100%;
    position: relative;
  }

  .output-div {
    height: 6%;
    border-left: none !important;
    border-right: none !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .msg-answer-div {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .progress-results {
    display: none;
    /* height: 3%; */
    border: none !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .language {
    /* right: 3%; */
    width: 70px;
    /* height: 24px; */
  }

  .sub-header-div-one {
    display: block;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: black; */
  }

  .activity {
    padding: 2px;
    width: 70%;
  }

  .code-editor-sub-menu-two-small {
    display: block;
    position: absolute;
    right: 12px;
    height: 8%;
    width: 15%;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
    top: 89%;
    /* background-color: red; */
    /* bottom: 10px; */
  }

  .header-one-div {
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #ddd !important;
  }

  .sub-header-div-two {
    display: flex;
    padding-right: 2px;
    align-items: center;
    justify-content: end;
  }

  #submit-small {
    background-color: #0556f3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    cursor: pointer;
    height: 17px;
    width: 25px;
    border-radius: 2px;
    position: relative;
  }

  #submit-small:hover {
    background-color: #888;
  }

  .arrow-small {
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12px solid white;
  }

  #submit-small:hover .arrow-small {
    border-left: 12px solid black;
  }

  .small-loader-run {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3.5px solid #ccc;
    border-top: 3.5px solid white;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .reset-small {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff99;
    padding: 4px;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    height: 27px;
    box-sizing: border-box;
  }

  /* .reset-small:hover {
    transform: scale(1.05);
  } */

  .theme-changer {
    display: none;
  }

  .theme-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff99;
    padding: 4px;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    height: 27px;
    box-sizing: border-box;
    /* display: none; */
  }

  #light {
    display: none;
  }

  #dark {
    /* display: none; */
  }

  .run-text {
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  .header-div {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .sub-header-div-one {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .sub-header-div-two {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
